.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.title {
  margin: 10px 0 10px 20px;
  font-size: 1.5rem;
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #999;
  }
}

.markdown {
  margin: 45px 0 0;
}
