.title {
  margin: 10px 0 10px 20px;
  width: 100%;
  font-size: 1.5em;
  input {
    border: none;
    border-bottom: 1px solid #999;
    background-color: transparent;
  }
}

.markdown {
  margin: 20px;
}
